@model CupcakeYPasteles.Models.Material

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>¿Estas seguro de eliminar?</h3>
<div>
    <h4>Material</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

    </dl>
    <div class="form-actions no-color">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()


            <input type="submit" value="Eliminar" class="btn btn-danger" />


        }
        <br />
        <button class="btn btn-default" onclick="location.href='@Url.Action("Index")'">Regresar</button>
    </div>
</div>
